# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Enforce Linux-style newlines
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.txt text eol=lf
